@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Libre+Franklin:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */

  font-family: Gabarito, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */
  background-color: #02042a;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.teams-scroll-bar {
}
::-webkit-scrollbar {
  width: 2px;
  height: 1px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 15px;
}
.scrolling-animation {
  animation: scrolling 10s linear infinite;
}

@keyframes scrolling {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-180vw);
  }
}
